body{
    background-image: url(../images/home-mural.jpeg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
    display: flex;
    align-items: center;
    justify-content: center;
  flex-direction:column;
}
.contact-wrapper{
    display: flex;
    align-items: stretch;
    justify-content: center;
  flex-direction:column;
    width: 950px;
    max-width:100%;
  }

.contact-container{
    max-width: 950px;
    height: 600px;
    background: #fff;
    margin: 50px 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    padding: 40px;
    border-radius: 5px;
  }

p{
    text-align: center;
    letter-spacing: 1px;  
    font-size: 45px;
    font-family: 'Lato';
    margin-bottom: 15px;
    color: rgb(128, 154, 178);
}
.links {
  width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
/*   flex-direction:column; */
}
.information input{
    font-family: 'Lato';
    font-size: 15px;
    width: 44.55%;
    height: 50px;
    float: left;
    margin-right: 4%;
    margin-bottom: 2%;
}

.subject input{
    font-family: 'Lato';
    font-size: 15px;
    width: 94.5%;
    height: 50px;
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
}

.message input{
    font-size: 15px;
    font-family: 'Lato';
    width: 94.5%;
    height: 100px;
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
}

.btn{
    width: 250px;
    background: rgb(128, 154, 178);
    font-family: 'Lato';
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    border-width: 0;
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .6);
}
