body {
  background-image: url(../images/homepage/lowpoly.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center right;
}

#plane {
  position:absolute;
  width:100%;
  height:100%;
  background-image: url(../images/homepage/homepage_fg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  pointer-events: none;
  z-index:100000;
}

.splash-overlay {
  position:absolute;
  width:350px;
  height:100%;
  left:0;top:0;
  background-color: #a6b9cc;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  
}
.splash-overlay h1 {
  font-size: 48px;
  z-index:100000;
}
.section {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
.about {
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.col {
  flex: 1 0 500px;
  margin: 20px;
}
.text {
  text-align: center;
}
.carousel {
  width: 100%;
  height: 50vh;
}
.carousel .img {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.carousel2 {
  width: 100%;
  height: 50vh;
  text-align: center;
}

.is-selected .img {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.img {
  width: auto;
  height: 50vh;
}

.partners-wrapper {
  background-color: rgb(255, 255, 255, 0.8);
  /* margin: 20px 20px; */
  width: 100vw;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.partners-container {
  display: inline-flex;
  flex-direction: row;
  gap: 30px;
  padding: 30px;
  flex-wrap: wrap;
  max-width:800px;
}
.partner {
/*   max-height: 200px; */
  flex: 1 1 100px; /* Positive flex-shrink */
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}
.partner img {
/*   width: auto; */
  height: 100%;
  width: auto;
  max-height:160px;
}

@media (max-width: 775px) {
  /* PHONE ENVIRONMENT */
.splash-overlay {
  background-color:transparent;
  }
  #plane{
    background-size:800px;
  }
   .splash-overlay h1 {
    padding: 0;
    margin: 0;
  } 
  .about {
    display:inline;
  }
  .col {
  }
  .carousel {
    width: 100%;
    min-width:250px;
    height: 30vw;
  }
  .carousel .img {
/*     opacity: 1; */
  }
  .flickity-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .img {
    width: 80vw;
    height: 50vw;
  }
}
