
body{
    background-image: url(../images/home-mural.jpeg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
    display: flex;
    align-items: center;
    justify-content: center;
  flex-direction:column;
}
.splash {
  font-family: 'Lato', sans-serif;
  color: white;
  position:absolute;
  bottom:40px;
  left:35px;
  font-size:32px;
  
}
.splash h1 {
  padding:0;
  font-size:4vw;
  margin:0;
}
@media (max-width: 850px) {
  /* TABLET ENVIRONMENT */
  .splash h1 {
    padding:0;
    font-size:48px;
    margin:0;
  }
}
