/* Master Styles*/
body {
  margin: 0px;
    padding: 80px 0 0 0;
  background-color: rgb(166, 185, 204);
}
#navbar {
  z-index:1000;
  width: 100%;
  position:absolute;
  top:0;
}
.nav-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px;
  padding-right:25px;
  background-color: rgb(255, 255, 255, .75);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
/*   border-bottom: 3px solid rgba(197, 24, 40, 1); */
  width: 100%;
}

/* Nav Styles*/
.left-side {
  left: 1cm;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: block;
  height: 52px;
}

.logo img {
  height: 100%;
}

  .logo-simple {
    display: initial;
  }
  .logo-full {
    display: none !important;
  }
.right {
  display: flex;
  justify-content: left;
  align-items: left;
}
.nav-links {
  width: auto;
  display: flex;
  justify-content: left;
  gap: 30px;
  align-items: left;
}

.nav-link-wrapper {
  padding: 10px 0;
  font-size: 25px;
  font-weight: bold;
  font-family: "Lato";
  text-transform: uppercase;

  height: 50%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link-wrapper:hover {
  border-bottom: 2px solid rgba(197, 24, 40, 1);
}

.nav-link-wrapper > .dropdown .dropbtn:hover {
  color: rgb(128, 154, 178);
}

.nav-link-wrapper a:hover {
  color: rgb(128, 154, 178);
}

/*----------------------*/
.dropdown {
  display:flex;
  justify-content:center;
}

.dropdown .dropbtn {
  font-size: 25px;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  display:none;
}
.dropdown .link-btn {
  z-index:1001;
  padding-bottom:20px;
  margin-bottom:-20px;
}

.nav-wrapper a:hover,
.dropdown:hover .dropbtn {
  background-color: transparent;
}

.dropdown-content {
  display: none;
  margin-top: 50px;
  position: absolute;
  background-color: rgba(230, 230, 230, 0.838);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  font-size: 17px;
  font-weight: normal;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: white;
  background-color: rgba(128, 154, 178, 0.6);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*--------------*/
.nav-toggler {
  display: none;
}
@media (max-width: 850px) {
  /* TABLET ENVIRONMENT */
  body {
    padding:0;
  }
  #navbar {
    
    position:static;
  }
  .nav-wrapper {
    display: flex;
    flex-direction: column;
  }
  .right {
    flex-direction: column;
  }
  .nav-links {
    display: none;
  }
  .nav-links-active {
    flex-direction: column;
    display: flex;
    margin-top: 20px;
  }
  .nav-toggler {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .nav-toggler button {
    float: right;
  }
  .dropdown {
    
  display:block;
  }
  .dropdown-content {
    position: relative;
  margin-top: 10px;
  }
  .dropdown:hover .dropdown-content {
    display: none;
  }
  .dropdown-content-active {
    display: block !important;
  }
  .dropdown .dropbtn {
    display:initial;
    float:right;
  }
  .mobile {
    display:initial;
  }
}
