#navbar {
  position:static;
}

body {
  background-image: url(../images/home-mural.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.point {
  padding:40px 30px;
  padding-bottom:0;
}
iframe {
  margin:20px;
}
h1 {
  margin:20px 0;
}
@media (max-width: 450px) {
  /* PHONE ENVIRONMENT */
  .point {
    padding:20px;
    
  }
  iframe {
    display:none;
  }
  h1{
    font-size:32px;
  }
}
