#navbar {
  position:static;
}
h1 {
  font-size: 30px;
  font-family: "Lato";
  color: grey;
  padding:15px;
}

h2 {
  padding:9px;
  font-size: 18px;
  font-family: "Lato";
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.row-2 {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.row-3 {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  box-sizing: border-box;
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 20px;
  text-align: center;
  background-color: rgb(255,255,255,0.3)
}

.column img {
  margin-top: 20px;
  vertical-align: middle;
  width: 100%;
}

.column p-2{
  display: block;
  font-size: 13px;
  font-family: "Lato";
  line-height: 150%;
  width: 100%;
  margin-bottom: 20px;
}

.column-2 {
  box-sizing: border-box;
  -ms-flex: 20%; /* IE10 */
  flex: 20%;
  max-width: 20%;
  padding: 0 10px;
  text-align: center;
  background-color: rgb(255,255,255,0.3)
}

.column-2 img {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
}

.column-2 p {
  display: block;
  font-size: 13px;
  font-family: "Lato";
  line-height: 150%;
  width: 100%;
  margin-bottom: 20px;
}

.column-3 {
  box-sizing: border-box;
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;
  padding: 0 20px;
  text-align: center;
  background-color: rgb(255,255,255,0.3)
}

.column-3 img3 {
  vertical-align: middle;
  width: 25%;
}

.column-3 img {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
}

.partners-wrapper {
  margin: 20px 20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.partners-container {
  display: inline-flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.349);
  gap: 30px;
  padding: 30px;
  flex-wrap: wrap;
  max-width:800px;
}
.partner {
/*   max-height: 200px; */
  flex: 1 1 100px; /* Positive flex-shrink */
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}
.partner img {
/*   width: auto; */
  height: 100%;
  width: auto;
  max-height:160px;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  .column-2 {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  .column-2 {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

