<div class="container">
  <div class="nav-wrapper">
    <div class="left-side">
      <div class="logo">
        <a href="index.html">
          <!--           <img class="logo-full"
            src="images/logofull (1).png"
            alt="logo"
          /> -->
          <img class="logo-simple" src="images/logofull (1).png" alt="logo" />
        </a>
      </div>
      <div class="nav-link-wrapper nav-toggler dropdown">
        <button class="dropbtn" onclick="toggle();">+</button>
      </div>
    </div>

    <div class="right">
      <div class="nav-links">
        <div class="nav-link-wrapper">
          <div class="dropdown">
            <a class="link-btn">About Us</a
            ><button class="dropbtn" onclick="toggle_dropdown(this);">+</button>
            <div class="dropdown-content">
              <a href="team.html">Our Team</a>
              <a href="work.html">Our Work</a>
<!--               <a href="partners.html">Our Partners</a> -->
            </div>
          </div>
        </div>

        <div class="nav-link-wrapper">
          <div class="dropdown">
            <a class="link-btn">Get Involved</a
            ><button class="dropbtn" onclick="toggle_dropdown(this);">+</button>
            <div class="dropdown-content">
              <a href="https://ko-fi.com/">Donate</a>
              
              <a
                href="https://docs.google.com/forms/d/e/1FAIpQLSdjERxB0becjSdDQQfG_Ek2-8pnirgxme3d3JVQ69NCxz1IkQ/viewform?usp=sf_link"
                target="_blank"
                >Volunteer</a>
            </div>
          </div>
        </div>

        <div class="nav-link-wrapper">
          <div class="dropdown">
            <a href="contactus.html">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
