<div class="container">
  <div class="nav-wrapper">
    <div class="left-side">
      <div class="logo">
        <a href="index.html">
          <img class="logo-full"
            src="images/logofull (1).png"
            alt="logo"
          />
          <img class="logo-simple"
            src="images/logo.JPG"
            alt="logo"
          />
        </a>
      </div>
    <div class="nav-link-wrapper nav-toggler dropdown">
      <button class="dropbtn" onclick="toggle();">+</button>
    </div>
    </div>

    <div class="right">
    <div class="nav-links">
      <div class="nav-link-wrapper">
        <div class="dropdown">
          <button class="dropbtn" onclick="toggle_dropdown(this);">About Us</button>
          <div class="dropdown-content">
            <a href="aboutus.html">Our Team</a>
            <a href="partners.html">Our Partners</a>
            <a href="purpose.html">Purpose</a>
          </div>
        </div>
      </div>

      <div class="nav-link-wrapper">
        <div class="dropdown">
          <button class="dropbtn" onclick="toggle_dropdown(this);">Get Involved</button>
          <div class="dropdown-content">
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSdjERxB0becjSdDQQfG_Ek2-8pnirgxme3d3JVQ69NCxz1IkQ/viewform?usp=sf_link"
              target="_blank"
              >Volunteer</a
            >
          </div>
        </div>
      </div>

      <div class="nav-link-wrapper">
        <div class="dropdown">
          <button class="dropbtn" onclick="toggle_dropdown(this);">Contact Us</button>
          <div class="dropdown-content">
            <a href="contactus.html">Email</a>
            <a
              href="https://www.instagram.com/everydayresponderproject/"
              target="_blank "
              >Instagram</a
            >
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
