h1{
    font-family: 'Lato';
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
    text-transform: uppercase;
    color: white;
    padding-bottom: 30px;
    padding-top: 30px;
}

.partners-wrapper{
    margin-left: 300px;
    margin-right: 300px;
    padding: 0;

}

.partnergrid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    background-color: rgba(255, 255, 255, 0.349);
    padding: 30px;
}

.grid-child img{
    display: flex;
    height: 200px;
    width: auto;
    align-items: center;
    justify-content: center;
}